#background-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-image: url("../images/7.4.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: invert(30%) sepia(10%) saturate(868%) hue-rotate(167deg) brightness(93%) contrast(94%);
}